$base-font-family: 'Source Sans Pro', Tahoma, Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$text-color:       #34495e !default;
$background-color: #fdfdfd !default;
$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    margin:0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: $base-font-size * 2.7;
    font-weight: 1;
    margin:10px 0px;
}

p a:link {
    color: #0047ab;
}
p a:visited {
    color: #0047ab;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
    padding-bottom: 1rem;
  }

.container {
    max-width: 750px;
    margin: auto;
    padding-left:20px;
    padding-right:20px;
    display:block;
    position:relative;
    p {
        text-align: justify;
    }
}

.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 55px;
    position: relative;
  }
  .site-title {
    font-size: 30px;
    color: $grey-color-dark;
    line-height: $base-line-height * $base-font-size * 2.25;
    letter-spacing: -1px;
    margin-bottom: 0;
    padding-right: 20px;
    float: left;
  }
  .social {
      padding:10px;
  }
  .svg-icon {
    width: 16px;
    height: 16px;
    fill: #{$grey-color};
    padding-right: 30px;
    position: absolute;
    top: 21px;
  }

  .site-nav {
    float: right;
    line-height: $base-line-height * $base-font-size * 2.25;
    a {
        margin-left: 20px;
    }
    a:link {
        color: $grey-color-dark;
    }
    a:visited {
        color: $grey-color-dark;
    }
  }
  .current {
    color: green;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: $grey-color-dark;
  }
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 14px;
    left: 0;
    background-color: $grey-color-dark;
    transform-origin: center;
    transition: transform 0.25s ease-out;
  }
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
  }

.site-footer {
    border-top: 1px solid $grey-color-light;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    p {
        text-align: center;
        padding-bottom: 30px;
    }
}

